<ion-view view-title="Alarm">
    <ion-content>
            <div align="center">
            <div style="width:85%;">
            <table>
                <tr>
                    <td style="width:45%; background:red" align="left">
                        <ion-label id="date" style="width:100%"></ion-label>
                    </td>
                    <td style="width:15%; background:blue">&nbsp;</td>
                    <td style="width:40%; background:green" align="right">
                        <ds-widget-clock theme="light" show-analog="true" show-digital="false"></ds-widget-clock>
                    </td>
                </tr>
            </table>
            </div>
            </div>
        <ion-item style="background:#ffcf70; line-height:5pt;" class="item-text-wrap"> 
            <span style="color:white">提醒列表</span><object align="right"><span style="background:#c1c1c1;padding:3pt 7pt;color:black">添加</span></object>
        </ion-item>
    
    <ion-item ng-repeat="alarm in alarmList" style="line-height:5pt;">
        {{alarm.content}}
        <object align="right">Time: {{ alarm.time | date : 'short' : 'locale'}}</object>
    </ion-item>
    </ion-content>
</ion-view>