div.login-row-small
{
    width:100%;
    height:20%;
}
div.login-row-large
{
    width:100%;
    height:40%;
}
div.login-col-small
{
    width:20%;
    height:20%;
}
div.login-col-large
{
    width:80%;
    height:20%;
}
